/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden !important;
        width: 100%;
    }

    section {
        overflow-x: hidden !important;
    }

    /*  Global CSs Start */

    h1 {
        font-size: 28px !important;
        line-height: 32px !important;
    }

    h6 {
        font-size: 12px !important;
    }

    p {
        font-size: 12px !important;
        line-height: 20px !important;
    }

    /*  Global CSs End */


    body {
        overflow-x: hidden !important;
        width: 100%;
    }

    section {
        overflow-x: hidden !important;

    }

    /* Header */

    .desktop {
        display: none;
    }



    .m-nav-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 2rem;
        padding-left: 1rem;
    }

    .nav-left .logo {
        width: 95px;
        height: 45.045px;
    }

    .search-container {
        display: none;
    }


    .nav-bar {
        position: fixed;
        top: 0;
        right: -300px;
        height: 100%;
        width: 300px;
        background-color: #d4d4d413;
        backdrop-filter: blur(50px);
        transition: right 0.3s ease-in-out;
    }

    .search-container-m {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        border-radius: 50px;
        border: 0.8px solid var(--border-color-2);
        background: var(--card-bg);
        box-shadow: var(--box-shadow);
    }

    .search-input-m {
        display: flex;
        padding: 10px;
        align-items: center;
        border: none;
        outline: none;
        width: 80%;
        background-color: transparent;
    }

    .toggle-bar {
        cursor: pointer;
    }

    .close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        color: black;
        font-size: 34px;
        cursor: pointer;
        z-index: 2;
    }

    .nav-bar.active {
        right: 0;
    }




    /* Home */
    .home {
        display: flex;
        padding: 150px 5.29px 80px 5.291px;
        justify-content: center;
        align-items: center;
    }

    .hero-title {
        width: 85%;
    }

    .hero-title p {
        width: 90%;
        padding-top: 2px;
    }

    .hero-section {
        gap: 20px;
    }

    .hero-cards {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        gap: 24px;
    }

    .left-card .top-card,
    .left-card .bottom-card {
        width: 100%;
        height: 370px;
    }

    .left-card .top-card {
        display: flex;
        flex-direction: column-reverse;
        height: 420px;
    }

    .top-card img{
        width: 280px;
        
    }


    .top-card .hero-content {
        padding-left: 0px;
        padding-top: 20px;
        gap: 0px;
        text-align: center;
    }



    .bottom-card {
        flex-direction: column-reverse;
        
    }

    .hero-imageicon {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
    }

    .hero-imageicon img{
       width: 200px;
    }
    

    .bottom-card .hero-content {
        width: 95%;
        padding-left: 0px;
        gap: 0px;
        text-align: center;
        padding-bottom: 10px;
    }

    .bottom-card .hero-content h1{
        text-align: center;
    }


    .right-card {
        height: auto;
        padding: 20px 0;
        gap: 20px;
    }

    .right-content {
        width: 95%;
        margin: 0 auto;
    }

    .right-content .btn {
        padding: 5px 20px;
        font-size: 14px;
    }

    /* Values */

    .values {
        margin-top: 10px;
    }

    .values .values-section .values-title {
        width: 80%;
    }

    .values .values-section .values-title p {
        padding-top: 2px;
    }

    .value-box {
        grid-template-columns: 1fr;
    }

    .value-box {
        width: unset;
    }

    .value-box .box-items {
        height: 360px;
        overflow: hidden;
    }

    .box-items .box-img {
        padding: 30px 51px;
        width: 300px;
    }

    .box-items .box-content h4 {
        font-size: 24px;
        text-align: center;
    }

    .box-items .box-content p {
        font-size: 14px !important;
        text-align: center;
    }


    /* Mac Disply */
    .macdisplay-section {
        width: 100%;
    }

    /* Services */

    .service {
        margin-top: 30px;
    }

    .service-section {
        padding: 64px 2px;
        gap: 40px;
    }

    .service-box {
        align-items: center;
        gap: 5px;
    }

    .service-content {
        width: unset;
        text-align: center;
    }

    .service-items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        text-align: center;
    }

    .service-box h3 {
        font-size: 20px;
        padding-top: 15px;
    }

    .service-items p {
        padding-top: 0px;
        text-align: center;
        width: 80%;
    }

    /* JOin US */

    .join-us {
        margin-top: 40px;
    }

    .joinus-section {
        height: 340px;
        padding: 20px 10px;
    }



    .joinus-content {
        padding-top: 0px;
    }

    .joinus-content h1 {
        padding-bottom: 2px;
    }

    .joinus-content p {
        padding-bottom: 2px;
    }

    .join-btn {
        padding: 7px 22px;
        font-size: 14px;
    }



    /* FAQ */

    .faq {
        margin-top: 40px;
    }

    .faq-section {
        flex-direction: column;
        padding: 40px 0;
        height: auto;
    }

    .faq-title {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .faq-title h1 {
        text-align: center;
    }

    .faq-title p {
        text-align: center;
    }

    .accordion {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

    .content-accordion {
        padding: 10px 2px;
    }

    .title-question {
        width: 100%;
        font-size: 14px;
    }

    .question {
        padding: 6px;
    }

    /* Footer */

    .footer {
        margin-top: 20px;
        padding-left: 5px;
    }

    .footer .container {
        padding: 35px 12px;
    }

    .row
    {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer .short-links a {
        font-size: 12px;
    }

    .footer-left .language-btn {
        padding: 6px 10px;
        width: 140px;
    }

    .footer-left .language-btn span {
        font-size: 13px;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 601px) and (max-width: 767px) {
    body {
        overflow-x: hidden !important;
        width: 100%;
    }

    section {
        overflow-x: hidden !important;
    }

    /*  Global CSs Start */

    h1 {
        font-size: 34px !important;
        line-height: 40px !important;
    }

    h6 {
        font-size: 13px !important;
    }

    p {
        font-size: 14px !important;
        line-height: 23px !important;
    }

    /*  Global CSs End */


    body {
        overflow-x: hidden !important;
        width: 100%;
    }

    section {
        overflow-x: hidden !important;

    }

    /* Header */

    .desktop {
        display: none;
    }

    .m-nav-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 2rem;
        padding-left: 1rem;
    }

    .nav-left .logo {
        width: 95px;
        height: 45.045px;
    }


    .nav-bar {
        position: fixed;
        top: 0;
        right: -300px;
        height: 100%;
        width: 300px;
        background-color: #d4d4d413;
        backdrop-filter: blur(50px);
        transition: right 0.3s ease-in-out;
    }

    .search-container-m {
        display: none;
    }

    .toggle-bar {
        cursor: pointer;
    }

    .close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        color: black;
        font-size: 34px;
        cursor: pointer;
        z-index: 2;
    }

    .nav-bar.active {
        right: 0;
    }




    /* Home */
    .home {
        display: flex;
        padding: 150px 5.29px 80px 5.291px;
        justify-content: center;
        align-items: center;
    }

    .hero-title {
        width: 85%;
    }

    .hero-title p {
        width: 90%;
        padding-top: 2px;
    }

    .hero-section {
        gap: 20px;
    }

    .hero-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 24px;
    }

    .left-card .top-card,
    .left-card .bottom-card {
        width: 100%;
        height: 310.831px;
    }

    .main-image {
        width: 180px;
        right: 0;
    }

    .bottom-card .hero-content {
        width: 50%;
        padding-left: 41px;
    }

    .bottom-image {
        left: -20px;
        width: 160px;
    }



    .right-card {
        height: auto;
        padding: 40px 0;
        gap: 30px;
    }

    .right-content {
        width: 90%;
        margin: 0 auto;
    }

    .right-content .btn {
        padding: 6px 22px;
        font-size: 14px;
    }

    /* Values */

    .values {
        margin-top: 10px;
    }

    .values .values-section .values-title {
        width: 80%;
    }

    .values .values-section .values-title p {
        padding-top: 2px;
    }

    .value-box {
        grid-template-columns: 1fr 1fr;
    }

    .value-box .box-items {
        height: 280px;
        overflow: hidden;
    }

    .box-items .box-content h4 {
        font-size: 20px;
    }

    .box-items .box-content p {
        font-size: 13px !important;
    }


    /* Mac Disply */
    .macdisplay-section {
        width: 95%;
    }

    /* Services */

    .service {
        margin-top: 30px;
    }

    .service-section {
        padding: 64px 2px;
        gap: 40px;
    }

    .service-content {
        width: 100%;
        text-align: center;
    }

    .service-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .service-items p {
        padding-top: 2px;
    }

    /* JOin US */

    .join-us {
        margin-top: 40px;
    }

    .joinus-section {
        height: 400px;
        padding: 40px 20px;
    }



    .joinus-content {
        padding-top: 0px;
    }

    .joinus-content h1 {
        padding-bottom: 2px;
    }

    .joinus-content p {
        padding-bottom: 2px;
    }

    .join-btn {
        padding: 7px 22px;
        font-size: 14px;
    }



    /* FAQ */

    .faq {
        margin-top: 40px;
    }

    .faq-section {
        flex-direction: column;
        padding: 64px 0;
        height: auto;
    }

    .faq-title {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .faq-title h1 {
        text-align: center;
    }

    .faq-title p {
        text-align: center;
    }

    .accordion {
        position: relative;
        width: 95%;
        margin: 0 auto;
    }

    .title-question {
        width: 100%;
        font-size: 16px;
    }

    /* Footer */

    .footer {
        margin-top: 20px;
        padding-left: 0px;
    }

    .footer .container {
        padding: 35px 12px;
    }

    .footer .short-links a {
        font-size: 12px;
    }

    .footer-left .language-btn {
        padding: 6px 10px;
        width: 140px;
    }

    .footer-left .language-btn span {
        font-size: 13px;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1023px) {
    body {
        overflow-x: hidden !important;
        width: 100%;
    }

    section {
        overflow-x: hidden !important;
    }

    /*  Global CSs Start */

    h1 {
        font-size: 36px !important;
        line-height: 45px !important;
    }

    h6 {
        font-size: 13px !important;
    }

    p {
        font-size: 14px !important;
        line-height: 20px !important;
    }

    /*  Global CSs End */


    body {
        overflow-x: hidden !important;
        width: 100%;
    }

    section {
        overflow-x: hidden !important;

    }

    /* Header */

    .desktop {
        display: none;
    }

    .m-nav-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 2rem;
        padding-left: 1rem;
    }

    .nav-left .logo {
        width: 95px;
        height: 45.045px;
    }


    .nav-bar {
        position: fixed;
        top: 0;
        right: -300px;
        height: 100%;
        width: 300px;
        background-color: #d4d4d413;
        backdrop-filter: blur(50px);
        transition: right 0.3s ease-in-out;
    }

    .search-container-m {
        display: none;
    }

    .toggle-bar {
        cursor: pointer;
    }

    .close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        color: black;
        font-size: 34px;
        cursor: pointer;
        z-index: 2;
    }

    .nav-bar.active {
        right: 0;
    }

    /* Home */
    .home {
        padding: 143px 5.29px 106px 5.291px;
    }

    .hero-title p {
        padding-top: 6px;
        width: 90%;
    }

    .hero-section {
        gap: 40px;
    }

    .hero-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 24px;
    }

    .right-card {
        height: auto;
        padding: 40px 0;
        align-items: center;
        gap: 30px;
    }

    .right-content .btn {
        padding: 6px 22px;
        font-size: 14px;
    }

    /* Values */

    .values {
        margin-top: 10px;
    }

    .values .values-section .values-title {
        width: 60%;
    }

    .values .values-section .values-title p {
        padding-top: 2px;
    }

    .value-box {
        grid-template-columns: 1fr 1fr;
    }

    .value-box .box-items {
        height: 349.831px;
    }

    /* Services */

    .service {
        margin-top: 30px;
    }

    .service-section {
        padding: 64px 2px;
        gap: 40px;
    }

    .service-content {
        width: 100%;
        text-align: center;
    }

    .service-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    /* JOin US */

    .join-us {
        margin-top: 40px;
    }

    .joinus-section {
        height: auto;
        padding: 40px 20px;
    }

    .joinus-content {
        padding-top: 0px;
    }

    .join-btn {
        padding: 7px 22px;
        font-size: 14px;
    }

    /* FAQ */

    .faq {
        margin-top: 40px;
    }

    .faq-section {
        flex-direction: column;
        padding: 64px 0;
        height: auto;
    }

    .faq-title {
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .faq-title h1 {
        text-align: center;
    }

    .faq-title p {
        text-align: center;
    }

    .accordion {
        position: relative;
        width: 90%;
        margin: 0 auto;
    }

    /* Footer */

    .footer {
        margin-top: 20px;
        padding-left: 0px;
    }

    .footer .container {
        padding: 35px 12px;
    }

    .footer .short-links a {
        font-size: 12px;
    }

    .footer-left .language-btn {
        padding: 6px 10px;
        width: 140px;
    }

    .footer-left .language-btn span {
        font-size: 13px;
    }





}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 1024px) and (max-width: 1439px) {


    /*  Global CSs Start */

    h1 {
        font-size: 42px !important;
        line-height: 45px !important;
    }

    h6 {
        font-size: 14px !important;
    }

    p {
        font-size: 16px !important;
        line-height: 23px !important;
    }

    /*  Global CSs End */


    body {
        overflow-x: hidden !important;
        width: 100%;
    }

    section {
        overflow-x: hidden !important;

    }

    /* Header */

    .desktop {
        display: none;
    }

    .m-nav-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 2rem;
        padding-left: 1rem;
    }

    .nav-left .logo {
        width: 95px;
        height: 45.045px;
    }


    .nav-bar {
        position: fixed;
        top: 0;
        right: -300px;
        height: 100%;
        width: 300px;
        background-color: #d4d4d413;
        backdrop-filter: blur(50px);
        transition: right 0.3s ease-in-out;
    }

    .search-container-m {
        display: none;
    }

    .toggle-bar {
        cursor: pointer;
    }

    .close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        color: black;
        font-size: 34px;
        cursor: pointer;
        z-index: 2;
    }

    .nav-bar.active {
        right: 0;
    }




    /* Home */

    /* Home */
    .home {
        padding: 183px 5.29px 106px 5.291px;
    }


    .hero-title {
        width: 65%;
    }

    .hero-title p {
        width: 90%;
    }

    /* Hero card  */
    .left-card .top-card,
    .left-card .bottom-card {
        width: 500px;
        height: 300px;
    }

    .top-card .hero-content {
        padding-left: 41px;
    }

    .right-card {
        height: 623px;
        padding: 30px;
    }

    .main-image {
        width: 180px;
        right: 0;
    }

    .bottom-card .hero-content {
        width: 50%;
        padding-left: 41px;
    }

    .bottom-image {
        left: -20px;
        width: 160px;
    }


    /* Values */

    .values .values-section .values-title {
        width: 50%;
    }

    .value-box {
        grid-template-columns: 1fr 1fr 1fr;
    }


    /* Service */

    .service-section {
        padding: 64px 2px;
        gap: 48px;
    }

    .service-content {
        width: 90%;
    }


    /* Join US */

    .joinus-section {
        height: auto;
        padding: 44px 0;
    }

    .joinus-content {
        padding-top: 60px;
    }

    /* FAQ */

    .faq-section {
        padding: 64px 0px;
        height: auto;
    }

    .content-accordion {
        padding: 0;
        gap: 1px;
    }

    .question {
        padding: 10px;
    }

    /* Footer */

    .footer {
        padding-left: 0;
    }

    .footer .short-links a {
        font-size: 14px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
    body {
        overflow-x: hidden !important;
        width: 100%;
    }

    section {
        overflow-x: hidden !important;

    }

    .container {
        max-width: 1440px;
    }

    /* Header */
    .tab {
        display: none;
    }
}